<?xml version="1.0"?>
<ruleset name="GitFlamethrower">
    <description>The coding standard for Git Flamethrower</description>

    <file>./app</file>
    <file>./bootstrap/app.php</file>
    <file>./config</file>
    <file>./tests</file>
    <file>./.php_cs.dist</file>
    <file>./git-flamethrower</file>

    <arg name="colors"/>

    <rule ref="Generic.Files.LineLength">
        <exclude-pattern>*/tests/*</exclude-pattern>
    </rule>

    <rule ref="PSR1.Methods.CamelCapsMethodName">
        <exclude-pattern>*/tests/*</exclude-pattern>
    </rule>

    <rule ref="PSR1"/>
    <rule ref="PSR2"/>
</ruleset>
